<div class="w-full max-w-3xl">
    <!-- Form -->
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="saveForm()">

        <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
            <div class="sm:col-span-2">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Fecha Presentación</mat-label>
                    <input
                        [readonly]="true"
                        matInput
                        [matDatepicker]="fechaPresentacionRemesa"
                        [formControlName]="'fechaPresentacionRemesa'">
                    <mat-datepicker-toggle
                        matSuffix
                        [for]="fechaPresentacionRemesa">
                    </mat-datepicker-toggle>
                    <mat-datepicker #fechaPresentacionRemesa></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="sm:col-span-2">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Fecha Vencimiento</mat-label>
                    <input
                        [readonly]="true"
                        matInput
                        [matDatepicker]="fechaVencimientoRemesa"
                        [formControlName]="'fechaVencimientoRemesa'">
                    <mat-datepicker-toggle
                        matSuffix
                        [for]="fechaVencimientoRemesa">
                    </mat-datepicker-toggle>
                    <mat-datepicker #fechaVencimientoRemesa></mat-datepicker>
                </mat-form-field>
            </div>


            <!-- Titulo -->
            <div class="sm:col-span-4">
                <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                    <mat-label>Titulo de la remesa</mat-label>
                    <input
                        [formControlName]="'titulo'"
                        matInput>
                </mat-form-field>
            </div>

            <div class="sm:col-span-2">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Presentador</mat-label>
                    <input
                        [formControlName]="'presentador'"
                        matInput>
                </mat-form-field>
            </div>

            <div class="sm:col-span-2">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Nif Presentador</mat-label>
                    <input
                        [formControlName]="'nifPresentador'"
                        matInput>
                </mat-form-field>
            </div>

            <div class="sm:col-span-2 flex flex-row">
                <mat-form-field class="fuse-mat-no-subscript w-full mr-4">
                    <mat-label>Entidad Presentador</mat-label>
                    <input
                        [formControlName]="'entidadPresentador'"
                        matInput>
                </mat-form-field>
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Oficina Presentador</mat-label>
                    <input
                        [formControlName]="'oficinaPresentador'"
                        matInput>
                </mat-form-field>
            </div>

            <div class="sm:col-span-2">

            </div>

            <div class="sm:col-span-2">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Ordenante</mat-label>
                    <input
                        [formControlName]="'ordenante'"
                        matInput>
                </mat-form-field>
            </div>

            <div class="sm:col-span-2">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Nif Ordenante</mat-label>
                    <input
                        [formControlName]="'nifOrdenante'"
                        matInput>
                </mat-form-field>
            </div>


            <div class="sm:col-span-2 flex flex-row">
                <mat-form-field class="fuse-mat-no-subscript w-full mr-4">
                    <mat-label>Entidad Ordenante</mat-label>
                    <input
                        [formControlName]="'entidadOrdenante'"
                        matInput>
                </mat-form-field>
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Oficina Ordenante</mat-label>
                    <input
                        [formControlName]="'oficinaOrdenante'"
                        matInput>
                </mat-form-field>
            </div>


            <div class="sm:col-span-4 flex flex-row items-end">
                <mat-form-field class="fuse-mat-no-subscript flex-1 mr-4">
                    <mat-label>IBAN</mat-label>
                    <input
                        [formControlName]="'iban'"
                        matInput>
                </mat-form-field>
            </div>

            <!--
            <div class="sm:col-span-2">
                <div class="flex items-center justify-start">
                    <div
                        class="leading-6">Remesa emitida
                    </div>
                    <mat-slide-toggle
                    class="ml-2"
                    [color]="'primary'"
                    [formControlName]="'remesaEmitida'"
                    #inquiry>
                    </mat-slide-toggle>
                </div>
            </div>
            -->

        </div>



        <!-- Divider -->
        <div class="mt-11 mb-10 border-t"></div>

        <!-- Actions -->
        <div class="flex items-center justify-end">
            <button
                (click)="cancel()"
                mat-stroked-button
                type="button">
                Cancelar
            </button>
            <button
                [disabled]="!form.valid"
                type="submit"
                class="ml-4"
                mat-flat-button
                [color]="'primary'">Guardar
            </button>
        </div>
    </form>

</div>
