<div class="flex flex-col flex-auto min-w-0">

    <div class="flex flex-col sm:flex-row items-end  sm:justify-end pb-8">
        <div class="flex items-center mt-4 sm:mt-0 md:mt-4">
            <button
                *ngIf="_remesa.id && _remesa.remesaEmitida"
                class="ml-4"
                mat-flat-button
                [color]="'primary'"
                (click)="generateFicheroRemesa()">
                <mat-icon [svgIcon]="'heroicons_outline:download'"></mat-icon>
                <span class="ml-2 mr-1">Descargar fichero remesa</span>
            </button>

            <button
                *ngIf="_remesa.id"
                class="ml-4"
                mat-flat-button
                [disabled]="recibos.length > 0"
                [color]="'primary'"
                (click)="generateRecibos()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Generar recibos</span>
            </button>

            <button
                *ngIf="_remesa.id"
                class="ml-4"
                mat-flat-button
                [disabled]="!recibos.length || _remesa.remesaEmitida"
                [color]="'primary'"
                (click)="generateFicheroRemesa()">
                <mat-icon [svgIcon]="'heroicons_outline:document-download'"></mat-icon>
                <span class="ml-2 mr-1">Generar fichero remesa</span>
            </button>
        </div>
    </div>

    <div class="flex flex-col" *ngIf="!_remesa.id">
        <fuse-alert [appearance]="'border'" [type]="'info'">
            <span fuseAlertTitle>Atención</span>
            Es necesario guardar primero la remesa para generar los recibos
        </fuse-alert>
    </div>

    <div class="flex flex-col" *ngIf="_remesa.id">
        <table mat-table *ngIf="recibos && recibos.length" [dataSource]="recibos" class="mat-elevation-z8">



            <ng-container matColumnDef="devuelto">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="element.devuelto" class="flex-0 w-2 h-2 rounded-full" [ngStyle]="{background:'#ff0000'}"></div>
                    <div *ngIf="!element.devuelto" class="flex-0 w-2 h-2 rounded-full" [ngStyle]="{background:'#00ff00'}"></div>
                </td>
            </ng-container>


            <ng-container matColumnDef="nif">
                <th mat-header-cell *matHeaderCellDef> Cif </th>
                <td mat-cell *matCellDef="let element"> {{element?.asociado?.cif}} </td>
            </ng-container>


            <ng-container matColumnDef="asociado">
                <th mat-header-cell *matHeaderCellDef> Socio </th>
                <td mat-cell *matCellDef="let element"> {{element?.asociado?.nombrefiscal}} </td>
            </ng-container>


            <ng-container matColumnDef="concepto">
                <th mat-header-cell *matHeaderCellDef> Concepto </th>
                <td mat-cell *matCellDef="let element"> {{element?.remesa?.titulo}}</td>
            </ng-container>


            <ng-container matColumnDef="iban">
                <th mat-header-cell *matHeaderCellDef> IBAN </th>
                <td mat-cell *matCellDef="let element">{{element?.asociado?.iban }}</td>
            </ng-container>

            <ng-container matColumnDef="ref">
                <th mat-header-cell *matHeaderCellDef> Ref. Mandato </th>
                <td mat-cell *matCellDef="let element">{{element?.asociado?.cif}}</td>
            </ng-container>

            <ng-container matColumnDef="cuota">
                <th mat-header-cell *matHeaderCellDef>Cuota</th>
                <td mat-cell *matCellDef="let element">
                    {{element?.importeFactura }} €
                </td>
            </ng-container>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Nº Recibo</th>
                <td mat-cell *matCellDef="let element">{{element.id }}</td>
            </ng-container>

            <ng-container matColumnDef="orden">
                <th mat-header-cell *matHeaderCellDef>Orden</th>
                <td mat-cell *matCellDef="let element">{{element.orden }}</td>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element">
                    <mat-icon class="cursor-pointer mr-4" (click)="openRecibo(element.id)" svgIcon="heroicons_outline:pencil"></mat-icon>
                    <mat-icon *ngIf="!element.remesa.remesaEmitida" class="cursor-pointer" (click)="deleteRecibo(element.id)" svgIcon="heroicons_outline:trash"></mat-icon>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <fuse-alert [appearance]="'border'" [type]="'info'" *ngIf="!recibos.length">
            <span fuseAlertTitle>No existen recibos</span>
            En estos momentos no hay recibos asociados a la remesa.
        </fuse-alert>
    </div>


</div>
